{{ partial "header.html" . }}

<div class="row">
  <div class="col-md-12">
    <!-- Заголовок -->
    <h3>{{ .Title }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <!-- Видео -->
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/{{ .Params.vimeo }}?title=0&byline=0&portrait=0" class="embed-responsive-item" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-4">
    <!-- Инфоблок -->
    {{ if .Params.client }}
      <div><strong>Клиент:</strong> {{ .Params.client }}</div>
    {{ end }}
    {{ if .Params.production }}
      <div><strong>Производство:</strong> {{ .Params.production }}</div>
    {{ end }}
    {{ if .Params.shooting }}
      <div><strong>Съёмка:</strong> {{ .Params.shooting }}</div>
    {{ end }}
    {{ if .Params.animation }}
      <div><strong>Анимация:</strong> {{ .Params.animation }}</div>
    {{ end }}
    {{ if .Params.graphics }}
      <div><strong>Графика:</strong> {{ .Params.graphics }}</div>
    {{ end }}
    {{ if .Params.sound }}
      <div><strong>Саунд-дизайн:</strong> {{ .Params.sound }}</div>
    {{ end }}
    {{ if .Params.voice }}
      <div><strong>Голос:</strong> {{ .Params.voice }}</div>
    {{ end }}
  </div>
</div>
  <br/>

{{ if .Content }}
<div class="row hr">
  <div class="col-md-12">
    <!-- Блогпост -->
    {{ .Content }}
  </div>
</div>
{{ end }}

<!-- Backstage -->
{{ if .Params.backstage }}
  <div class="row hr">  
    <div class="col-md-12">
      {{ $page := . }}
      {{ range .Params.backstage }}
        {{ $photo := . }}
          <a class="fancybox" rel="gallery1" href="/images{{ $page.RelPermalink }}{{ $photo }}.jpg" title="">
            <img src="/images{{ $page.RelPermalink }}thumb_{{ $photo }}.jpg" alt="" class="img-thumbnail" />
          </a>
      {{ end }}
    </div>
  </div> 
{{ end }}          

{{ partial "footer.html" . }}

