.row > .col-md-6
{
margin-bottom: 50px;
}

.footer
{        
border-top: 1px solid #eee;
padding-top: 20px;
padding-bottom: 50px;
}

.hr
{
	border-top: 1px solid #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}

.vertical-align {
    display: flex;
    align-items: flex-end;
}

.fancybox img.img-thumbnail
{
	margin: 5px;
}

.media
{
	margin-bottom: 40px;
}

.news
{
	padding-bottom: 8px;
}

/* Stretch the links */
.fotorama__html div,
.fotorama__html a {
    display: block;
    height: 100%;
    text-indent: -9999px;
}