<div class="row footer">
	<div class="left col-md-4">© 2010–2020 Grapefilms production</div>

	<div class="right col-md-4 col-md-offset-4">
		<address>
			<a href="mailto:mail@grapefilms.pro?subj=videoproduction">mail@grapefilms.pro</a><br>
		</address>
	</div>
</div></div><!-- Placed at the end of the document so the pages load faster --><script src="/js/jquery-2.1.3.min.js"></script><script src="/bootstrap/js/bootstrap.min.js"></script><script src="/js/jquery.fancybox.pack.js"></script><script src="/js/jquery.fancybox-media.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.js"></script><script>
$(function () {
// Вешаем событие на клик по кнопке
$('#custom-chatra-button').on('click', function () {
// Открываем чат и фокусируем поле ввода
Chatra('openChat', true);
});
});</script><script type="text/javascript">
$(document).ready(function () {
$(".fancybox").fancybox({openEffect: 'none', closeEffect: 'none'});
});</script><!-- Yandex.Metrika counter --><script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function () {
try {
w.yaCounter22191226 = new Ya.Metrika({
id: 22191226,
webvisor: true,
clickmap: true,
trackLinks: true,
accurateTrackBounce: true
});
} catch (e) {}
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () {
n.parentNode.insertBefore(s, n);
};
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else {
f();
}
})(document, window, "yandex_metrika_callbacks");</script><noscript>
<div><img src="//mc.yandex.ru/watch/22191226" style="position:absolute; left:-9999px;" alt=""/></div></noscript><!-- /Yandex.Metrika counter --><script>
(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function () {
(i[r].q = i[r].q || []).push(arguments)
},
i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-497656-14', 'auto');
ga('send', 'pageview');</script><!-- Chatra.io --><script>
ChatraID = 'jXfuptu2K6DjPtYEC';
(function (d, w, c) {
var n = d.getElementsByTagName('script')[0],
s = d.createElement('script');
w[c] = w[c] || function () {
(w[c].q = w[c].q || []).push(arguments);
};
s.async = true;
s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//chat.chatra.io/chatra.js';
n.parentNode.insertBefore(s, n);
})(document, window, 'Chatra');</script></body></html>
