{{ partial "header.html" . }}

<div class="row">
	<div class="col-md-12">
	  <div class="fotorama" data-fit="cover" data-width="100%">
	  	{{ range $k, $v := .Site.Taxonomies.series.best }}
	  		<div data-img="{{ $.Site.BaseUrl }}images/portfolio/big/{{ .Page.Params.photo }}"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></div>
    	{{ end }}
	  </div>
	</div>
</div>

<div class="row">
<div class="col-md-6">
	<p>Добро пожаловать на сайт <a href='{{ relref . "about.md" }}'>продакшн студии Grapefilms</a>.</p>
	<p>Если вы здесь, значит интересуетесь съёмкой корпоративного или рекламного ролика.<br/> 
	Оцените наш профессиональный уровень посмотрев <a href='{{ $.Site.BaseUrl }}portfolio/'>работы в портфолио</a>.<br/>
	Узнайте <a href='{{ relref . "skolko_stoit_snyat_reklamniy_rolik.md" }}'>сколько стоит снять рекламный ролик</a> или почитайте наш <a href='{{ $.Site.BaseUrl }}blog/'>блог</a>.</p>
</div>
    <div class="col-md-6">
		<ul class="posts list-unstyled">
          {{ range .Paginator.Pages }}
          <li class="news">
            <span class="label label-default">{{ .Date.Format  "02.01.2006" }}</span>&nbsp;&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a> 
          </li>
          {{ end }}
      </ul>
    </div>
</div>

{{ partial "footer.html" . }}